.navbar {
    height: 15vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
    .logo {
        font-size: 40px;
        flex-grow: 0.9;
    }
    .menu-icon {
        cursor: pointer;
    }

    .menu.active {
        opacity: 0;
        transition: 0.5s ease;
    }

    
        .menu-list {
            li {
                display: inline;
                cursor: pointer;
                font-size: 25px;
                margin: 0 15px;

                a {
                    transition: 0.2s ease;
                    &:hover {
                        font-size: 30px;
                        color: grey;
                    }
                }
            }
        }
    
}
