.add-wishes {
    background-color: $primaryColor;

    .add-wishes-container {
        margin: 0 50px;

        .add-wishes-hero {
            text-align: center;
            color: beige;
            padding: 50px 0 30px 0;

            opacity: 0;
            transform: translateY(100px);
            transition: 1s ease-in;
        }
        .add-wishes-hero.show{
            opacity: 1;
            transform: translateY(0);
        }

        .form-container {
            margin: 0 auto;
            flex-direction: column;

            opacity: 0;
            transform: translateY(100px);
            transition: 1s ease;

            input,
            textarea {
                background: rgb(230, 230, 215);
                margin: 10px 0;
                border: none;
                border-radius: 5px;
                outline: none;
                width: 350px;
                padding: 10px 20px;
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                }
            }

            button{
                cursor: pointer;
                width: 350px;
                margin-bottom: 50px;
                background-color: beige;
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 12px 20px;
                font-size: 14px;
                transition: 0.2s ease;
                &:hover{
                    background-color: rgb(218, 218, 194);
                }
            }
        }
        .form-container.show{
            opacity: 1;
            transform: translateY(0);
        }

        .add-wishes-comment{
            text-align: center;
            margin: 0px 30px;

            opacity: 0;
            transform: translateY(100px);
            transition: 1s ease-in;

            .comment-container{
                border-top: 1px solid grey;
                border-bottom: 1px solid grey;
            }
        }

        .add-wishes-comment.show{
            opacity: 1;
            transform: translateY(0);
        }
    }
}
