.hari-bahagia {
    background-color: $primaryColor;

    .hari-bahagia-card {
        max-width: 1080px;
        margin: 0 auto;
        padding: 100px 50px;
        flex-direction: column;
        color: black;
        text-align: center;

        .hari-bahagia-bg {
            background: url('../img/IMG_1712.jpg');
            background-size: cover;
            background-position: center;
            height: 500px;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
        }
        .hari-bahagia-text {
            background-color: white;
            border-bottom-right-radius: 25px;
            border-bottom-left-radius: 25px;
            box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
            .hari-bahagia-text-hero {
                margin: 0 auto;
                padding: 40px 0;
                text-align: center;
                font-size: 25px;
                font-family: "Dancing Script", cursive;
            }

            .time {
                font-family: "Open Sans", sans-serif;
                font-size: 15px;
                
                .box {
                    text-align: center;
                    color: black;
                    display: inline-block;
                    margin: 10px 20px 50px 20px;
                    span{
                        font-size: 25px;
                    }
                    p {
                        margin: 10px 0;
                    }
                }
            }
        }
    }

    // .hari-bahagia-container {
    //     max-width: 960px;
    //     padding: 20px 40px;
    //     background-color: yellow;

    //     .hari-bahagia-bg {
    //         background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    //             url("../img/IMG_1712.jpg");
    //         background-size: cover;
    //         background-position: center;
    //         height: 500px;
    //         border-top-left-radius: 25px;
    //         border-top-right-radius: 25px;
    //         box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    //     }

    //     .hari-bahagia-text {
    //         background-color: white;
    //         padding: 20px;
    //         border-bottom-right-radius: 25px;
    //         border-bottom-left-radius: 25px;
    //         box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);

    //         .hari-bahagia-text-hero {
    //             margin: 0 auto;
    //             padding: 40px 0;
    //             width: 70%;
    //             text-align: center;
    //             font-size: 25px;
    //             font-family: "Dancing Script", cursive;
    //         }
    //         .time {
    //             font-family: "Open Sans", sans-serif;
    //             font-size: 15px;
    //             .box {
    //                 text-align: center;
    //                 color: black;
    //                 margin: 20px 50px;

    //                 p {
    //                     margin: 10px 0;
    //                 }
    //             }
    //         }
    //     }
    // }
}
