.main {
    position: relative;
    height: 120vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/IMG_1712.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // border-radius: 0 0 50% / 10%;

    .main-text {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -75%);
        font-family: "Dancing Script", cursive;
        // font-family: 'Parisienne', cursive;
        // font-family: 'Great Vibes', cursive;
        color: $primaryColor;
        text-align: center;
        animation: mainText 3s;
        h2{
            font-size: 3rem;
        }
        span{
            font-family: 'Lato', sans-serif;
            font-size: 15px;
        }
    }

    .swipe-up{
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -95%);
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        color: $primaryColor;
    }
}



@keyframes mainText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}