@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500&display=swap');

$primaryColor: #c7ad8a;
$secondaryColor: #c7ad8a;

@import './main';
@import './opening';
@import './doa';
@import './setting';
@import './hariBahagia';
@import './galleryCollection';
@import './addWishes';
@import './designedBy';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
}

.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
}


//Audio btn

.audio-btn{
    position: fixed;
    bottom: 25px;
    right: 25px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    border: none;
    background-color: $primaryColor;
    border-radius: 50%;
    padding: 10px 10px;

    &:focus{
        outline: none;
    }
}